<div class="pagina pagina-pagos">
        <div class="tit-header"></div>
        <table class="table-terms-and-condition">
            <tr>
                <td class="td-withoutborder">
                    <h4 class="title-terms-and-condition">{{ _('TÉRMINOS Y CONDICIONES DEL CONTRATO') }}</h4>
                    <hr style="border-top: 5px solid #a0e03f;"/>
                </td>
            </tr>
            <tr>
                <td class="td-withoutborder">
                    <p style="margin: 15px 0;">
                        <b>LC Mundo es una corporación de responsabilidad limitada (Language Connections Limited)
                            domiciliada en 17 Belmont Street, M5R 1P9 Toronto, Canadá.</b>
                    </p>
                    <p style="margin: 15px 0;">
                        En <b>LC MUNDO</b> brindamos asesoría e información relevante a estudiantes y profesionales,
                        ofreciendo diversos servicios a través de oficinas regionales,
                        plataformas web u otras vías, con la finalidad de matricular a estudiantes en instituciones
                        educativas, mediante convenios de representación en más de 16 países.
                    </p>
                    <p style="margin: 15px 0;">
                        Este documento <b>NO</b> es parte de nuestra <b>Políticas de Privacidad y Tratamiento de
                        Datos</b> aplicable al manejo de la información suministrada por el cliente,
                        al momento de recolectar sus datos personales en los procesos de asesoría o venta y prestación
                        de nuestros servicios.
                    </p>
                    <p style="margin: 15px 0;">
                        Este documento es aplicable al proceso de ventas con nuestros clientes, proveedores y público en
                        general a través de nuestra plataforma web y otros canales de
                        comercialización de nuestros productos y servicios (tales como sitios web, eventos, bases de
                        datos de nuestros aliados estratégicos, redes sociales, asesoría presencial o en línea),
                        conforme el régimen legal en Canadá.
                    </p>
                    <p style="margin: 15px 0;">
                        Una vez el cliente suministre sus datos a cualquiera de los canales mencionados anteriormente,
                        sus datos serán almacenados por LC mundo y compartidos internamente o con instituciones
                        educativas en el extranjero a fin de facilitar el servicio.
                    </p>
                    <p>
                        De los suscriptores <br>
                        Entre <b>LC Mundo</b>, y
                    </p>
                    <table border="1" style="width: 100%;" cellpadding="5" cellspacing="5">
                        <tr>
                            <td style="padding: 5px 10px;">Nombre y Apellido:</td>
                            <td style="padding: 5px 10px;">{{ data.nombre }}</td>
                        </tr>
                        <tr>
                            <td style="padding: 5px 10px;">Nacionalidad:</td>
                            <td style="padding: 5px 10px;">{{ data.pais_origen }}</td>
                        </tr>
                        <tr>
                            <td style="padding: 5px 10px;">Ciudad:</td>
                            <td style="padding: 5px 10px;">{{ data.ciudad_origen }}</td>
                        </tr>
                    </table>
                    <p>
                        Quien para efectos del siguiente documento se denominará el CONTRATANTE, se acuerda celebrar el
                        presente contrato de SERVICIOS,
                        el cual se regirá por las normas que regulan la materia y especialmente por las siguientes
                        cláusulas:
                    </p>
                </td>
            </tr>
        </table>
    </div>
<div class="pagina pagina-pagos">
    <div class="tit-header"></div>
    <table class="table-terms-and-condition">
        <tr>
            <td class="td-withoutborder">
                <h4><b>PROVEEDOR DEL SERVICIO:</b></h4>
                <p style="margin: 15px 0;">
                    - <b>LC MUNDO</b>, como proveedor del servicio, se involucra en actividades comerciales en
                    varios países, a fin de proveer Asesoría Académica y Trámites
                    (<b>el “SERVICIO”</b>) que conlleven a “registrar” o “inscribir” a estudiantes internacionales
                    en instituciones educativas en el extranjero,
                    la cual denominaremos en lo sucesivo las <b>“IEE”</b> y a las cuales, representamos
                    contractualmente en el territorio de domicilio del estudiante.
                </p>
                <p>
                    -Es responsabilidad de <b>LC MUNDO</b> hacer cumplir los procesos administrativos establecidos
                    entre los proveedores educativos <b>(“IEE”)</b>, el proveedor del servicio y <b>el
                    “Contratante”</b>.
                </p>
                <p>
                    -La totalidad de los servicios que comprenden las obligaciones del presente contrato, serán los
                    ofrecidos por <b>LC MUNDO</b> a través de las cotizaciones establecidas en el programa elegido y
                    aceptado por <b>EL CONTRATANTE</b>.
                </p>
                <p>
                    -Dicha cotización se entenderá, cómo parte integral del presente contrato. Los valores
                    relacionados con el registro,
                    cargo administrativo, matrícula académica, alojamiento o Seguro Médico Internacional u otros
                    establecidos contractualmente,
                    pueden estar sujetos a variaciones de acuerdo con el proceso individual o familiar del <b>CONTRATANTE</b>.
                    Estas serán notificadas previas a cualquier compromiso contractual por <b>LC Mundo</b>.
                </p>
                <h4><b>OBLIGACIONES:</b></h4>
                <p>
                    <b>LC MUNDO</b>, a solicitud del <b>CONTRATANTE</b> se compromete a prestar sus servicios con el
                    fin de que el CONTRATANTE realice estudios
                    en instituciones educativas en el extranjero o <b>“IEE”</b> y siempre y cuando cumpla con los
                    requisitos de admisión y normativas de las <b>“IEE”</b>.
                    Estos servicios incluyen las siguientes obligaciones o procedimientos hasta su finalización.
                </p>
                <ol>
                    <li>Asesoría y Trámites.</li>
                    <li>Evaluación del Perfil.</li>
                    <li>Proveer Cotizaciones.</li>
                    <li>Registro y Formas de Inscripción.</li>
                    <li>Reserva, Pagos y Cargo Administrativo.</li>
                    <li>Contrataciones a otros proveedores.</li>
                    <li>Asistencia en trámites de Visa.</li>
                    <li>Inmigración en Canadá. Los costos asociados a este último punto son adicionales a los
                        establecidos en este documento.
                    </li>
                </ol>
            </td>
        </tr>
    </table>
</div>
<div class="pagina pagina-pagos">
    <div class="tit-header"></div>
    <table class="table-terms-and-condition">
        <tr>
            <td class="td-withoutborder">
                <h4><b>PROCEDIMIENTOS:</b></h4>
                <ol>
                    <li>
                        <p>
                            <b>Asesoría y trámites.</b> Consiste en orientar al <b>CONTRATANTE</b> a escoger el
                            destino, el programa o las instituciones que representamos en nuestro portafolio,
                            según la información suministrada por el CONTRATANTE, las características y necesidades
                            de su perfil personal, académico y financiero, a fin de hacer cumplir
                            los requisitos de admisión de las <b>IEE</b>. Este proceso se realiza en un máximo de 8
                            horas en total contemplado entre múltiples sesiones presenciales,
                            video llamadas y comunicaciones por escrito, con la ayuda de un Asesor Académico
                            suministrado por LC Mundo, a partir del momento en que el <b>CONTRATANTE</b> cree su
                            usuario
                            en nuestra plataforma <a href="https://www.lcmundo.com/">(www.lcmundo.com)</a> y el
                            “Plan de Acción” establecido de forma individual o su grupo familiar.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Evaluación del Perfil.</b> Cada instituto educativo o proveedor de otros servicios
                            educativos afiliados a LC Mundo, tiene establecido sus requisitos de admisión y
                            el cual debemos hacer cumplir según nuestros acuerdos comerciales y el destino
                            seleccionado. En este sentido, LC Mundo ofrecerá distintas alternativas que conlleven
                            a una experiencia exitosa según el perfil del <b>CONTRATANTE</b>.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Proveer Cotizaciones.</b> Las cotizaciones emitidas por LC Mundo, son proporcionales
                            a los precios establecidos por las <b>IEE</b> u otros proveedores de servicios,
                            tales como alojamientos en el extranjero, seguro médico internacional basados en el país
                            de origen o nacionalidad y la edad del <b>CONTRATANTE</b>.
                            Estos precios no son alterados por LC Mundo, pero se hacen aproximaciones hasta recibir
                            la Cotización Oficial de la institución seleccionada por el estudiante.
                            Los montos por parte de proveedores están sujetos a cambios sin previo aviso o según sus
                            políticas y no es atribuible a LC. Adicionalmente,
                            el <b>CONTRATANTE</b> podrá solicitar de forma automática cotizaciones en nuestra web
                            con su usuario activo en nuestra web o a través de un representante de <b>LC Mundo.</b>
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Registros y Formas de Inscripción.</b> Una vez el <b>CONTRATANTE</b> haya tomado la
                            decisión de “Registrarse” o “Inscribirse”, <b>LC Mundo</b> hará entrega de un listado de
                            documentos y requisitos necesarios
                            para la realización de los trámites entre el <b>CONTRATANTE</b> y las <b>IEE</b> o
                            cualquier otro proveedor de servicios adicionales establecidos en el contrato según la
                            cotización.
                            <b>EL CONTRATANTE</b> deberá cumplir con todos los requisitos de todas las FORMAS DE
                            INSCRIPCIÓN necesarias, incluyendo la realización de pagos o abonos según las
                            indicaciones de <b>LC Mundo.</b>
                            Una vez el <b>CONTRATANTE</b> haya sido aceptado en la <b>“IEE”</b>, dicha institución
                            emitirá la <b>“CARTA DE ACEPTACIÓN”</b> o <b>“LOA”</b> (Letter of Acceptance) y
                            Cotización Oficial,
                            documento que será luego utilizado para avanzar al proceso de visa, según el país de
                            destino seleccionado por el <b>CONTRATANTE</b>. Otras “Formas de Aplicación” o
                            documentos adicionales a
                            las requeridas por la <b>“IEE”</b> podrán ser solicitadas por LC Mundo, y en algunos
                            casos, otros Costos Administrativos según las indicaciones de otros proveedores de
                            servicios.
                        </p>
                    </li>
                </ol>
            </td>
        </tr>
    </table>
</div>
<div class="pagina pagina-pagos">
    <div class="tit-header"></div>
    <table class="table-terms-and-condition">
        <tr>
            <td class="td-withoutborder">
                <h4><b>PROCEDIMIENTOS:</b></h4>
                <ol>

                    <li>
                        <p>
                            <b>Reserva.</b> <b>LC Mundo</b> se reserva el derecho de ajustar el costo de la
                            “Reserva” de acuerdo con los costos asociados por concepto de “Trámites”, al momento de
                            iniciar el proceso, según la jurisdicción del estudiante.
                            Si el <b>CONTRATANTE</b> realiza pagos, incluyendo la “Reserva” a través de la web, o
                            cualquier otro pago a través de su “Usuario” en la web, automáticamente haremos entrega
                            de Recibos de Pagos o constancia del pago.
                            <b>LC Mundo</b> o <b>Language Connections Limited domiciliado en Canadá,</b> está
                            autorizada a recibir todos los pagos y documentos del <b>CONTRATANTE</b> y hacer el pago
                            a las <b>“IEE”</b> u otros proveedores de servicios. Los cargos administrativos,
                            se definen como los costos asociados a la realización de trámites administrativos por
                            los <b>“IEE”</b> u otros proveedores de servicios.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Contrataciones a otros proveedores.</b> Dependiendo del destino seleccionado por el
                            <b>CONTRATANTE,</b> <b>LC Mundo</b> trabajará en alianza con otros proveedores de
                            servicios para satisfacer las necesidades del <b>CONTRATANTE</b>,
                            como lo son las empresas Financieras, Aseguradoras, de transporte u hospedaje. Los
                            costos asociados a dichos servicios estarán establecidos en la cotización final del
                            cliente y <b>LC Mundo</b> actuará como intermediario
                            entre el <b>CONTRATANTE</b> y otros proveedores de servicios.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Asistencia en trámites de Visa.</b> La Asistencia de visa estudiante son servicios
                            opcionales se refiere a verificar en conjunto entre <b>LC Mundo</b> y el
                            <b>CONTRATANTE</b> que la información suministrada por la página web de la embajada
                            (según el país de destino)
                            y el cliente cumpla con lo requerido. Sin embargo, <b>LC Mundo</b> no es considerada una
                            organización oficial de trámites migratorios o visa. A su vez, emplea a personal
                            certificado para trámites migratorios a costos adicionales en Canadá.
                            Los Asesores de <b>LC Mundo</b> brindan información y material de apoyo el cual es
                            público sin ningún costo adicional, pueden acceder a la supervisión final de la
                            documentación a través de nuestro <b>CRM</b> y de ser necesario nuestros
                            Consultores de Inmigración en nuestro equipo en Canadá, podrán actuar en representación
                            del <b>CONTRATANTE</b>. Los costos de representación serán definidos de forma
                            independiente a este contrato entre el <b>CONTRATANTE</b> y Consultor de
                            Inmigración según sus credenciales. En este sentido <b>LC Mundo</b> actúa cómo una
                            organización que refiere al <b>CONTRATANTE</b> como candidato o cliente migratorio a
                            Abogados de Inmigración o Consultores de Inmigración. Todos los documentos y la
                            veracidad de los mismos, suministrados por el <b>CONTRATANTE</b> de forma independiente,
                            a un portal de cualquier agencia gubernamental con la finalidad de trámite de visa, son
                            considerados responsabilidad absoluta del <b>CONTRATANTE</b> y la entidad gubernamental.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Inmigracion en Canadá.</b> Para Servicios de inmigración en Canadá,<b> Language
                            Connections Limited,</b> presta “el servicio”
                            bajo acuerdo contractual con la empresa de asistencia migratoria <b>NN Immigration
                            Services.</b>
                            Estos servicios tienen un costo adicional no establecidos por LC.
                        </p>
                    </li>
                </ol>
            </td>
        </tr>

    </table>
</div>
<div class="pagina pagina-pagos">
    <div class="tit-header"></div>
    <table class="table-terms-and-condition">
        <tr>
            <td class="td-withoutborder">
                <h4><b>TERMINOS Y CONDICIONES</b></h4>
                <ol type="A">
                    <li>Todos los precios establecidos en nuestra web son aproximaciones. La Carta de Aceptación de
                        tu Institución y la Cotización Final son los documentos base para los trámites entre el <b>CONTRATANTE</b>
                        y las <b>IEE</b>. Ambos documentos son entregados a <b>LC mundo</b> después de tu proceso de
                        reserva.
                    </li>
                    <li>Para iniciar el proceso de reserva o inscripción de tu curso, deberás verificar en la forma
                        de inscripción, que los datos de tu reserva en <b>LC MUNDO</b> son correctos y luego
                        realizar un primer abono vía tarjeta de crédito o PayPal.
                    </li>
                    <li>Todas las cotizaciones de <b>LC Mundo</b> tienen un Costo Administrativo, no-reembolsable,
                        para individuos o grupo familiar, el cual puede ser sujeto a cambios según el país origen y
                        edad del <b>CONTRATANTE</b>. El Costo Administrativo está sujeto a cambio según la
                        preferencia de la Agencia o temporada.
                    </li>
                    <li> Si ya has creado y completado tu usuario en nuestro portal web, tu forma de Inscripción,
                        pagos, o cualquier otro documento del proceso, podrá ser actualizado y compartido
                        automáticamente a las <b>IEE</b>.
                    </li>
                    <li>Al introducir tus datos en la pasarela de pagos, vía tarjeta de crédito o PayPal, enviaremos
                        tu recibo de pago al email que nos hayas indicado en la forma de inscripción.
                    </li>
                    <li>Serás contactado por un Asesor de LC para continuar con tus procesos en menos de cinco (5)
                        días hábiles.
                    </li>
                    <li>Los servicios de Asesoría por <b>LC Mundo</b>, no tienen costo, pero se trabaja por cita. El
                        máximo de citas por Asesor antes de la inscripción con la agencia es de 2 sesiones hasta el
                        momento de reserva e inscripción. Una vez inscrito tienes acceso a diferentes sesiones a
                        discreción del tiempo del asesor y <b>CONTRATANTE</b> pero por lo general el servicio se
                        cumple en menos de 6 sesiones adicionales.
                    </li>
                    <li>
                        Los costos de registro de LC MUNDO son netamente administrativos pueden variar según las
                        promociones existentes:
                        <ol type="a">
                            <li>Individual: US $200.00, válidos por 1 año.</li>
                            <li>Grupo Familiar: US $250.00, válidos por 1 año.</li>
                            <li>Los costos consulares NO están incluidos y dependen exclusivamente del país de
                                destino.
                            </li>
                        </ol>
                    </li>
                    <li>El estudiante deberá regirse por los términos y condiciones de cada institución educativa
                        que representamos, incluyendo sus normas y términos de pago.
                    </li>
                    <li>Los precios de esta cotización están sujetos a verificación por parte de la institución
                        donde realizarás tus estudios. Una vez aceptado el estudiante por la <b>IEE</b>, <b>LC
                            MUNDO</b> recibirá la cotización final y la misma será enviada al <b>CONTRATANTE</b>
                        para realizar el siguiente abono al curso.
                    </li>
                    <li>Las tasas de cambio de moneda extranjera utilizadas en tu cotización son revisadas
                        diariamente, por lo que el valor final puede variar. Sin embargo, dependen del cambio
                        oficial del país y sus entidades financieras correspondientes.
                    </li>
                    <li>El costo de inscripción de las <b>IEE</b> no es reembolsable. Al menos que la institución
                        ejecute una excepcionalidad.
                    </li>
                    <li> Las penalidades o devoluciones pertinentes serán aplicadas según los términos de las <b>IEE.</b>
                    </li>
                </ol>
            </td>
        </tr>
    </table>
</div>
<div class="pagina pagina-pagos">
    <div class="tit-header"></div>
    <table class="table-terms-and-condition">
        <tr>
            <td class="td-withoutborder">
                <h4><b>TERMINOS Y CONDICIONES</b></h4>
                <ol type="A">
                    <li>No habrá lugar a responsabilidad alguna por parte de <b>LC Mundo</b>, en caso de que el <b>CONTRATANTE</b>
                        no cumpla con las reglas de la institución educativa, immigración o leyes.
                    </li>
                    <li>En caso, de que al <b>CONTRATANTE</b> le sea negada la visa, podrá iniciar su aplicación en
                        otro destino diferente, debiendo comenzar desde el principio para efectos de aplicaciones
                        consulares, fees consulares y tiempos sugeridos. En el caso de repetir aplicación de visa en
                        el destino inicial, también se deberá pagar nuevamente los fees o costos asociados
                        consulares según las políticas de cada Embajada. La devolución del dinero depende de las
                        políticas establecidas por cada <b>IEE.</b></li>
                    <li>Si el <b>CONTRATANTE</b> decide posponer su viaje, éste deberá asumir todos los costos y
                        riesgos que ello genere según la <b>IEE</b> elegida.
                    </li>
                    <li>Mediante la suscripción de este contrato, el <b>CONTRATANTE</b> declara que los fondos que
                        utilizará para cubrir los costos implícitos en su plan de estudios son de origen lícito.
                    </li>

                </ol>
            </td>
        </tr>
        <tr>
            <td class="td-withoutborder">
                <h4><b>CONDICIONES ALOJAMIENTO:</b></h4>
                <ol type="A">
                    <li>Toda reserva de alojamiento es no reembolsable.</li>
                    <li>El costo de la reserva dependerá del costo impuesto por el proveedor de alojamiento o la <b>IEE</b>
                    </li>
                    <li>En caso de que el alojamiento (casa de familia, residencia, etc) tenga validez durante la
                        temporada alta definida por la <b>IEE</b>, incurrirá en un costo semanal adicional.
                    </li>
                    <li>Los estudiantes menores de edad que viajen al país de destino deberán pagar el valor de la
                        Carta de Custodia por adelantado según el costo de las <b>IEE</b>.
                    </li>
                </ol>
                <h4><b>POLITICAS DE REEMBOLSO.</b></h4>
                <ol>
                    <li>
                        <p>Para solicitar un reembolso absoluto de su curso, <b>LC Mundo</b> se regirá de acuerdo
                            con las políticas de reembolso de la <b>IEE</b> que representamos y que el cliente
                            acepta al momento de formalizar su proceso de inscripción o reserva. Si el reembolso es
                            aprobado por la institución, el proceso puede tomar hasta 90 días desde el momento de su
                            solicitud y por lo general los fondos son devueltos a través de una transferencia
                            bancaria internacional o a la misma tarjeta de crédito suministrada por el cliente.</p>
                    </li>
                    <li>
                        <p>Si el reembolso ocurre como consecuencia de un rechazo al proceso de visa del país de
                            destino seleccionado por el cliente, es necesario una copia de la carta de rechazo a la
                            visa para soportar tu reembolso.</p>
                    </li>
                    <li>
                        <p> Los siguientes cargos son considerados No reembolsables: Costo de Inscripción de la
                            escuela o institución, Cargo Administrativo de LC mundo, Cargo de Reserva de
                            Alojamiento, Seguro Médico Internacional (excepto bajo rechazo de visa), Servicios de
                            Búsqueda al Aeropuerto (excepto bajo rechazo de visa)</p>
                    </li>
                    <li>
                        <p>Para reembolso de matrícula del curso debe dirigirse directamente a la institución donde
                            realizará los estudios y regirse según sus políticas de reembolso.</p>
                    </li>
                </ol>
            </td>
        </tr>
    </table>
</div>
<div class="pagina pagina-pagos">
    <div class="tit-header"></div>
    <table class="table-terms-and-condition">
        <tr>
            <td class="td-withoutborder">
                <h4><b>TERMINACION DEL CONTRATO:</b></h4>
                <ul style="list-style: none;">
                    <li>-Por incumplimiento del objeto.</li>
                    <li>-Por decisión de LC Mundo comunicada al CONTRATANTE</li>
                    <li>-Por mutuo acuerdo entre las partes.</li>
                </ul>
                <p>
                    <b>Domicilio Contractual:</b> para todos los efectos legales, el domicilio contractual será la
                    ciudad de Toronto, y las notificaciones serán recibidas por las partes en las siguientes
                    direcciones:
                    Por el <b>CONTRATANTE</b> en:
                </p>
                <table border="1" style="width: 100%;" cellpadding="5" cellspacing="5">
                    <tr>
                        <td style="padding: 5px 10px;">Dirección de Domicilio:</td>
                        <td style="padding: 5px 10px;">Teléfono</td>
                        <td style="padding: 5px 10px;">Ciudad</td>
                    </tr>
                </table>
                <p>
                    Por <b>LC Mundo</b> en 17 Belmont St. Toronto. Ontario. Canadá. M5R 1P9
                    Mediante la suscripción de este contrato, las partes acuerdan que comprenden el alcance de sus
                    cláusulas.
                </p>
                <table border="0" style="width: 100%;" cellpadding="5" cellspacing="5">
                    <tr>
                        <td style="padding: 5px 10px;"><b>Representante legal </b></td>
                        <td style="text-align: right;padding: 5px 10px;"><b>El CONTRATANTE</b></td>

                    </tr>
                    <tr>
                        <td style="padding: 5px 10px;">LC Mundo - Language Connections Ltd.</td>
                        <td style="padding: 5px 10px;"></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px 10px;">LEONARDO MARSICOBETRE</td>
                        <td style="padding: 5px 10px;"></td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
</div>